@model System.Diagnostics.Process
@{
    ViewBag.Title = "Index";
}
<div class="jumbotron clearfix">
    <ul>
		<li><a href="Kill/@Model.Id"><i class="fa" fa-power-off></i></a></li>
        <li><label>Base Priority: &nbsp;</label>@Model.BasePriority</li>
        <li><label>ID: &nbsp;</label>@Model.Id</li>
        <li><label>Main Window Title: &nbsp;</label>@Model.MainWindowTitle</li>
        <li><label>Paged Memory Size: &nbsp;</label>@Model.PagedMemorySize64</li>
        <li><label>Process Name: &nbsp;</label>@Model.ProcessName</li>
        <li><label>Responding: &nbsp;</label>@Model.Responding</li>
        @*<div>@Model.StartTime.ToUniversalTime().ToString()</div>*@
        <li><label>Threads: &nbsp;</label>@Model.Threads.Count</li>
        @*<div>@Model.TotalProcessorTime.ToString()</div>*@
    </ul>
</div>