@model System.Diagnostics.Process
@{
    ViewBag.Title = "Index";
}

<div>@Model.BasePriority</div>
<div>@Model.Id</div>
<div>@Model.MainWindowTitle</div>
<div>@Model.PagedMemorySize64</div>
<div>@Model.ProcessName</div>
<div>@Model.Responding</div>
@*<div>@Model.StartTime.ToUniversalTime().ToString()</div>*@
<div>@Model.Threads.Count</div>
@*<div>@Model.TotalProcessorTime.ToString()</div>*@